body {
  @include body-font;
  background-color: #1C1A22;
}

a.plain, a.plain:hover a.plain:active a.plain:link a.plain:visited {
	text-decoration: none;
}

.btn {
  background-color: #8243DB;
  color: $gray-100;
  border-radius: 15px 0px 15px 15px
}

.navbar-brand {
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.icon-halo {
  font-size: 12.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}
